<h2>Home</h2>

<% if (!currentUser) { %>
<div>
<a class="opener" href="/auth/signup">Signup</a>
<a class="opener" href="/auth/login">Login</a>
</div>
<% } else { %>
    <p>Hello, <%= currentUser.name %> </p>
<div>
<a class="opener" href="/auth/logout">Logout</a>
<a class="opener" href="/profile">Profile</a>
<a class="opener" href="/show">Greensky Set</a>
<a class="opener" href="/show2">STS9 Set</a>
</div>
<% } %>