<h2>Profile Page</h2>

<p>Hello, <%= currentUser.name %> </p>

<% setGames.forEach( function(setGame){ %>
    <p>set game id <%= setGame.id %></p>
    <% setGame.attempts.forEach( function(attempt){ %>
        <p>possible <%= attempt.possible %></p>
        <p>correct <%= attempt.correct %></p>
    <% }) %>
<% }) %>


<br />

<a href="/">Home</a>
