<h2>Profile Page</h2>

<p>Hello, <%= currentUser.name %> </p>

<% setGames.forEach( function(setGame){ %>
    <p>stgmeid<%= setGame.id %></p>
    <% setGame.attempts.forEach( function(attempt){ %>
        <p>pssoblie<%= attempt.possible %></p>
        <p><%= attempt.correct %></p>
    <% }) %>
<% }) %>


<br />

<a href="/">Home</a>
