<h1>Hello</h1>
<a href="/">Back to sets</a>

<button onclick=
    sendPicksToBack();
>Submit Picks</button>
<div id="set-container">
<% const copy = Array.from(songLoop).map( function(song) {
    return song.name
}) %>
<% songLoop.sort(function(){ %>
          <%  return 0.5 - Math.random() %>
       <% }) %> %>

    <div id="randomset">
        <ol>
            <% songLoop.forEach(function(song){ %>
            <button>
                <li class="songs"><%= song.name %></li>
            </button>
            <% }); %>
        </ol>
    </div>
    <div>
        <ol id="picks">
        </ol>
    </div>
    </div>
    <script> 
        const actualOrder = <%-JSON.stringify(copy) %>
        const setId = <%- JSON.stringify(apiId) %>
    </script>
    <script src="/js/script.js"></script>