body{
    background-color: pink;    
}
#banner {
    text-align: center;
}
#songs {
    justify-content: left;
}

a {
    margin-left: 0 0 0 0;
}

button {
    display: block;

}

.opener {
    margin-left: 18rem;
}

button:hover {
    background-color: pink;
    color: white;
}

#randomset {
    float: left;
}

#picks {
    float: right;
}